# Kopieren nach terraform.tfvars und Werte anpassen.
# terraform.tfvars wird NICHT ins Repository hochgeladen (.gitignore).

subscription_id = "04658447-3ab4-4090-b382-27654e45a97d"
container_image = "docker.io/DEIN-DOCKERHUB-NAME/autovermietung"

# Optional:
# location     = "germanywestcentral"
# image_tag    = "latest"
# min_replicas = 1
# max_replicas = 5
